<!-- including header -->
<%- include('include/_headerform') %>
<!-- including header -->


      <div class="main">

 <%- include('include/_form') %>


    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap.min.js"></script>
    
</div>

<!-- including Footer -->
<%- include('include/_footer') %>
<!-- including Footer -->