  <!-- Form starts here -->
  <form action="/api/posts" method="post" id="add_post">
    <div class="new_post">
        <div class="form-group">
        <label for="name" class="text-light">Name</label>
    <input type="hidden" name="id" value="">
    <input type="text" name="name" value="" placeholder="Elon Musk">
    </div>
    </div>
    <div class="form-group">
        <label for="email" class="text-light">Email</label>
    <input type="text" name="email" value="" placeholder="abc@gmail.com">
    </div> 
    <div class="form-group">
        <label for="post" class="text-light">Post</label>
    <input type="text" name="post" value="" placeholder="Make your own post here">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-success">Save and Submit</button>
    </div>
    <div class="Back">
        <a href="\home">
        <button type="button" class="btn btn-warning">Back</button></a>
        </div>
           </form>
    
            <!-- Form Ends  here -->