<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayaram table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/Styles.css">
    <script src="../js/datatable.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap.min.js"></script>

</head>
<body>  
        
    <ul>
        <li><a href="#">Datatable</a></li>
        <li style="float:right"><a class="active" href="#about">Login Page</a></li>
      </ul>
      <h1>Customer Information</h1>
      <div class="add_post">
        <a href="/posts/add-post">
        <button type="button" class="btn btn-success">Add new post</button></a>
        </div>

<!-- Header Ends here -->